<p id="notice"><%= notice %></p>

<h1>Produits</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :Libelle %>
  <%= f.search_field :title_cont %>

  <%= f.label :prixHT %>
  <%= f.search_field :price_ht_eq %>

  <%= f.label :TauxTVA %>
  <%= f.search_field :taux_tva_eq %>

  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>prixHT</th>
      <th>TauxTVA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price_ht %></td>
        <td><%= product.taux_tva %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.has_role? :admin %>
  <h3> Importer les produits</h3>

  <%= form_tag import_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'import file'%>
  <% end %>
<% end %>


<%= link_to 'New Product', new_product_path %>
